flask
line-bot-sdk==3.5.0
supabase
numpy
opencv-python-headless>=4.5.0
Pillow
joblib
scikit-learn==1.1.3
tensorflow==2.12.0
matplotlib
python-dotenv
pandas

# 新增以下兩行以避免 Render 相依性錯誤
urllib3<2
certifi
